<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

<body>
  <header>  
    <%-include('../components/header')%>
    <%-include('../components/site-nav')%>
  </header>

  <div class="wrapper">

      <main>
        <%- body %>
      </main>

      <%-include('../components/footer')%>
  </div>
</body>

</html>